@charset "utf-8";
/* CSS Document */

.awanPage2 {
	margin-left:550px;
	margin-top:-100px;
}
.awanPage2 img {
	max-width:250px;
	max-height:50px;
}
.awanPage3 {
	margin-left:50px;
	margin-top:-100px;
}
.awanPage3 img {
	max-width:250px;
	max-height:50px;
}
.awan-position1 {
	margin-top:-80px;
}
.awan-position2 {
	margin-top: 80px;
}
.awan-position3 {
	margin-top:-60px;
}
.awan-position4 {
	margin-top:70px;
}

.gunung img {
	max-width:550px;
	max-height:150px;
	margin-top:50px;
	margin-left:500px;
}
.kota-back {
	background:url(../img/kota%20belakang.png) no-repeat;
	min-height:209px;
	min-width:400px;
	margin-left:90px;
	margin-top:-40px;
}
.kota-style {
	margin-left:150px;
	margin-top:-100px;
}
.kota-style1 {
	width:60px;
	height:110px;
	margin-left:10px;
	margin-top:-10px;
}
.kota-style2 {
	width:40px;
	height:80px;
	margin-left:10px;
	margin-top:20px;
}
.kota-style3 {
	width:100px;
	height:200px;
	margin-top:-100px;
}
@media (max-width : 768px) {
	.awanPage2,.awanPage3 {
		margin-left:0px;
		margin-top:-20px;
	}
	.awanPage2 img, .awanPage3 img {
		max-width:220px;
		max-height:30px;
	}
	.gunung img {
		max-width:350px;
		max-height:120px;
		margin-top:50px;
		margin-left:0px;
	}
	.kota-back {
		background:url(../img/kota%20belakang.png) no-repeat;
		max-height:209px;
		max-width:300px;
		margin-left:0px;
		margin-top:-40px;
	}
	.kota-style {
		margin-left:50px;
		margin-top:-100px;
	}
	.kota-style1 {
		width:60px;
		height:110px;
		margin-left:10px;
	}
	.kota-style2 {
		width:40px;
		height:80px;
		margin-left:10px;
	}
	.kota-style3 {
		width:100px;
		height:200px;
	}
}


