@charset "utf-8";
/* CSS Document */

body, html { overflow-x:hidden; }

body {
    background-color: #ffffff;
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-size: 12px;
	
	font-weight: 300; 
	font-style: normal; 
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: 100%;
}
/*button*/
btn-home-start{
	font-size:36px;
	color:#fff;
	display:inline-block;
	margin-top:65px;
}

.btn-home-start:hover{
	color:#888;
}

/*--------video-----------*/

.tema-page1 {
	background:url(../img/LpBG.png);
    min-height:710px;
	width:100%;
}

.tema-page2 {
    min-height:710px;
	background:url(../img/1.png);
	width:100%;
	
}
.tema-page3 {
    min-height:710px;
	background:url(../img/3.png);
}
.tema-page5 {
    min-height:710px;
	background:url(../img/4.png);
}
.tema-page6 {
    min-height:710px;
	background:url(../img/5.png);
}
.tema-page7 {
    min-height:710px;
	background:url(../img/1.png);
}

.tema-page-media7 {
    height:50px;
	background:#222222;
}

.tema-pageadmin1 {
    min-height:510px;
	width:100%;
}

/*---------- Style --------------*/ 

@font-face {
	font-family:'vivaldi';
	src:url(../font/VIVALDII.TTF);;	
}
.titleback .titlepage {
	opacity: 0.1;
    filter: alpha(opacity=10);
	background-color:#000;
}
.titlepage {
	max-width:880px;
	max-height:auto;
	padding:20px;
	margin:0 auto;
	margin-top:100px;
}
.titlepagereg {
	max-width:880px;
	max-height:auto;
	padding:20px;
	margin:0 auto;
}
.titlepagereg p{
	font-family: 'futuramedium';
	font-weight:bold;
	font-size:20px;
	font-style:normal;
	color:#000;
	margin-top:20px;
	margin-bottom:20px;
}
.titlepagereg h3{
	font-family: 'futuramedium';
	font-weight:bold;
	font-size:13px;
	font-style:normal;
	color:#f30a0a;
	margin-top:20px;
	margin-bottom:20px;
}
.titlepage h1 {
	
	font-size:60px;
	color:#fff;
	text-align:center;
	margin-top:150px;
}
.titlepage p {
	font-family: 'futuramedium';
	font-weight:bold;
	font-size:24px;
	font-style:normal;
	text-align:center;
	color:#fff;
	margin-top:20px;
	margin-bottom:20px;
}
/*------------ Page 2 -------------*/

.txt-page2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}
.txt-page2 h1 {
	font-size:30px;
	font-style:normal;
	text-align:center;
	margin-top:40px;
	font-family: 'futuramedium';
	font-weight:bold;
	letter-spacing:2px;
}
.txt-page2 h4 {
	font-size:18px;
	font-style:normal;
	text-align:center;
	margin-top:40px;
	font-family: 'Arial';
	font-weight:bold;
	letter-spacing:2px;
}

@media (max-width : 400px) {
	.txt-page2 p {
		width:320px;
		margin-top:40px;
		margin-bottom:80px;
	}
}

/*------------ Page 3 -------------*/

.txt-page3 {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}
.txt-page3 h1 {
	font-size:30px;
	font-style:normal;
	text-align:center;
	margin-top:40px;
	font-family: 'futuramedium';
	font-weight:bold;
	letter-spacing:2px;
}
.txt-page3 p {
	width:450px;
	font-size :16px;
	font-style:normal;
	text-align:right;
	margin-top:90px;
	margin-left:700px;
}
@media (max-width : 768px) {
	.txt-page3 p {
		max-width:320px;
		margin-top:40px;
		margin-bottom :10px;
		margin-left:300px;
	}
}
@media (max-width : 400px) {
	.txt-page3 p {
		width:320px;
		margin-top:40px;
		margin-bottom :40px;
		margin-left:0px;
	}
}
/*------ Page 4 --------*/
.txt-page4 h1 {
	font-family: 'futuramedium';
	font-weight:bold;
	letter-spacing:2px;
	font-size:30px;
	color:#000;
	text-align:center;
	margin-top:50px;
}
.txt-page4 p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	text-align:center;
	color:#FFF;
	margin-top:40px;
	margin-bottom:100px;
}
.vid1-style {
		width:760px;
		height:415px;
	}
@media (max-width : 400px) {
	.vid1-style {
		margin-top:50px;
		width:270px;
		height:200px;
	}	
}

/*------ Page 5 --------*/
.txt-page5 h1 {
	font-size:30px;
	font-family: 'futuramedium';
	font-weight:bold;
	letter-spacing:2px;
	color:#000;
	text-align:center;
	margin-top:50px;
}
.txt-page5 p {
	text-align:center;
}
/*------ Page 6 --------*/
.txt-page6 h1 {
	font-family: 'futuramedium';
	font-weight:bold;
	letter-spacing:2px;
	font-size:30px;
	color:#000;
	text-align:center;
	margin-top:50px;
}
.txt-page6 p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	text-align:center;
	color:#FFF;
	margin-top:40px;
	margin-bottom:100px;
}

/*---- Page Footer ----*/
.txt-footer {
	color:#000;
	text-align:center;
}
.txt-footer h1 {
	font-family: 'futuramedium';
	font-weight:bold;
	letter-spacing:2px;
	font-size:60px;
	margin-top:100px;
	margin-bottom:30px;
}
.txt-footer p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 20px;
	max-width: 600px;
	margin:0 auto;
	text-align: center;
	margin-bottom:80px;
}
.txt-footer h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	margin-top:50px;
}

.txt-footer-media {
	color:#000;
	text-align:center;
}

.txt-footer-media h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	margin-top:20px;
}

}
/*Footer widget sosmed*/
section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  margin: 40px 0px 40px -30px;
  color: #000;
  font-weight:bold;
  font-size: 2.4em;
  font-family: 'Raleway Dots', sans-serif;
  text-align: center;
}
section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  list-style: none;
}
section #services li div {
  width: 90px;
  height: 90px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #000;
  transition: all 0.5s ease;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 90px;
  height: 20px;
  display: block;
  padding: 10px 0px;
  color: #000;
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.2em;
  text-align: center;
}
.facebook {
	background:url(../img/facebook.png)no-repeat;
}
.twitter {
	background:url(../img/twitter.png) no-repeat;
}
.googleplus {
	background:url(../img/googleplus.png) no-repeat;
}
.youtube {
	background:url(../img/youtube.png) no-repeat;
}
/*GALLERY PAGE */

#gallery{
	 float:left;
	 margin:8px 8px; 
	 width:850px;
}
#gallery.img{
	background:url(../image/bgs.png) repeat;
	float:left;
	width:245px; 
	color:#CCC;
}
.hover{
	position:absolute; 
	width:245px;
	height:234px;
	z-index:100; 
	display:none;
	background:rgba(20,20,20,0.6);
}
.hover p{
	color:#FFF; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px; 
	text-align:center;
	margin-top:90px; 
}
#gallery.img a:hover .hover{
	display:block;
}
/*-------------- COROUSEL ---------------*/
#owl-demo .item{
      margin-top:50px;
}
#owl-demo .item img{
      display: block;
      width: 100%;
      height: 234px;
}
.center-line{
	width:60%;
	height:auto;
	margin-left:220px;
	border-bottom:1px #CCC solid;
}
@media (max-width : 400px) {
	.center-line{
		width:80%;
		height:auto;
		margin-left:30px;
		border-bottom:1px #CCC solid;
	}
}

/* Nav
*****************************************************************/

nav#primary {
	z-index: 5;
	position: fixed;
	top: 50%;
	right: 16px;
	margin-top: -40px;
}
nav#primary li {
	position: relative;
	height: 20px;
	list-style-type:none;
}
nav#primary a {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background: transparent url(../img/nav-dot.png) 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
	background: transparent url(../img/nav-dot.png) 4px -16px no-repeat;
}
nav#primary h1 {
	position: absolute;
	right: 22px;
	top: -7px;
	display: none;
	padding: 4px 20px 4px 7px;;
	color: #fff;
	white-space: nowrap;
	background: transparent url(../img/nav-arrow.png) 100% 50% no-repeat;
	}

/*button*/
.btn-home-start{
	font-size:36px;
	color:#fff;
	display:inline-block;
	margin-top:100px;
	margin-left:400px;
}

.btn-home-start:hover{
	color:#888;
}

/*ADMINISTRATOR*/

.page1{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	background:url(../img/bg-head.jpg);
	width:100%;
	height:250px;
	margin-top:65px;
}

.pageisi{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	background:#000;
	width:600px;
	height:250px;
	text-align
}