/* CSS Document */
html,body,div,span,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tfoot,thead,th{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;background: transparent;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}

html{ 
	background: url(../admin/images/main.gif) top left #EEEEEE; 
}
body{ 
	background:url(../images/sidebar.png) top left repeat-y;
	
	/*background-color:#000;*/
	min-width: 1000px; 
	min-height: 870px; 
	text-align: left; 
	margin: 0px; 
	font-family: arial; 
	font-size: 12px; 
	color:#000;
}
body.no-side{ 
	background: none; 
	color:#000;
	min-height: 100%; 
	margin-bottom: 100px;
}

.clear:after{ 
	content: "."; 
	display: 
	block; 
	height: 0; o
	verflow:hidden; 
	clear: both; 
	visibility: 
	hidden; 
}
.clean-margin{ 
	margin: 0px !important; 
}
.clean-padding{ 
	padding: 0px !important;
}


/********** PAGE LAYOUT **********/
.sidebar{ 
	width: 196px;
	float: left; 
	padding: 0px 20px 0px 24px;
}
.main{ 
	margin-left: 285px; 
	margin-right: 20px;
}
.main-wrap{
	width: 100%; 
	float: left; 
}
.page{ 
	padding-right: 12px; 
	padding-bottom: 50px; 
}

.logo{ 
	width: 196px; 
	margin-top: 15px; 
	margin-bottom: 40px; 
	margin-left:-15px; 
}
.logo a{ 
	text-decoration: none; 
}
.logo .picture{ 
	float: left; 
	margin-right: 60px; 
}
.logo .uniadmin{ 
	margin-top: 15px; 
	float: left;
}
.logo .title{ 
	display: block; 
	font-family: arial; 
	font-size: 25px; 
	color: #FFFFFF; 
	font-weight: bold; 
	margin-top: 7px; 
	float: left; 
}
.logo .text{ 
	display: block; 
	font-weight: bold; 
	color: #BBBBBB; 
	position: relative; 
	top: -4px; 
	float: left; 
}

/*** main menu ***/
.menu{ 
	padding-top: 0px; 
	margin-bottom: 10px; 
}
.menu ul{ 
	font-size: 13px;
}
.menu li{ 
	padding-bottom: 8px; 
}
.menu li a{ 
	display: block; 
	line-height: 16px; 
	padding: 8px 12px 8px 12px; 
	background: url('../images/menu_button.png') top left no-repeat; 
	color:#000;
	text-decoration: none; 
	font-weight: bold; 
}

.menu li.active a{ 
	background: url('../images/menu_button_active.png') top left no-repeat; 
	color:#000;
}
.menu ul ul{ 
	font-size: 12px; 
	width: 100%; 
	background: url('../images/bck_white_10.png'); 
	margin-top: 4px; 
	padding: 6px 0px 8px 0px; 
	-moz-border-radius: 3px 3px 3px 3px; 
	-webkit-border-radius: 3px 3px 3px 3px; 
	border-radius: 3px 3px 3px 3px; 
}
.menu li li{ 
	padding: 4px 0px 14px 0px;
}
.menu li li a{ 
	padding: 0px 12px 0px 22px !important; 
	background: url('../images/arrow_sm_blue.gif') 12px 6px no-repeat !important; 
	font-weight: normal; 
	color:#000!important;
	font-weight:bold; 
 
}
.menu li li a:hover	{ 
	color: #FFFFFF!important; 
	text-decoration:underline; 
	font-weight:bold;
}
.menu li li.active a{ 
	color: #FFFFFF!important; 
	background: url('../images/arrow_sm_white.gif') 12px 6px no-repeat !important; 
	font-weight: bold; 
}


/*** header ***/

.header{ 
	background: url('../images/line.gif') bottom left repeat-x; 
	margin-bottom: 30px; 
}
.header .links{ 
	float: right; 
	line-height: 24px; 
	color: #333333; 
	padding: 6px 0px 6px 0px; 
}
.header .links li{ 
	float: left; 
	margin-left: 10px; 
}
.header .links .icon{ 
	display: block; 
	width: 24px; 
	height: 24px; 
	float: left; 
	margin-right: 5px; 
}
.header .links a{ 
	color: #333333; 
	text-decoration: none; 
}
.header .links a:hover{ 
	color:#891501; 
	text-decoration:underline; 
}

/*content*/
#content-data{
	margin-top:20px;
	padding-left:25px;
	padding-top:30px;
	padding-bottom:50px;
	font-size:16px;
	font-family:"Times New Roman";
	color:#000;
}


/*Style For Table*/
#tampil_data{
	border:#A0A0A4 solid 1px;
	border-collapse:collapse;
	margin-top:15px;
}
#tampil_data tr td{
	height:30px;
	padding:0 4px 0 4px;
	border:#A0A0A4 solid 1px;
}

#tambah{
	border:#A0A0A4 solid 1px;
	margin-top:15px;
}
#tambah tr{
	height:30px;
	padding-left:10px;
	border:#A0A0A4 solid 1px;
}

#judul{
	font-size:20px;
	font-family:"Times New Roman";
	font-weight:bold;
	
}

.button{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	min-width:60px;
	height:30px;
	border:0px;
	color:#FFF;
	cursor:pointer;
	padding:7px;
	font-size:12px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	-o-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	background:url(../images/menu_button.png);
}

.button1{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	min-width:60px;
	height:30px;
	border:0px;
	color:#0000;
	cursor:pointer;
	padding:7px;
	font-weight:bold;
	font-size:12px;
	margin-left:40px;
	background:#14b9d5;
}

/*End Style For Table*/

input.submit{ 
	display: inline; 
	border-width: 0px; 
	font-size: 11px; 
	font-family: arial; 
	color: #FFFFFF; 
	font-weight: bold; 
	cursor: pointer; 
	background:url(../images/but_active.png) top left repeat-x ; 
	padding: 3px 10px 3px 10px;
	margin-top:10px;
	margin-bottom:10px; 
}

.login{
	padding:7px;	
}
/*--------------------------------------------------------------*/

ul { list-style-type: none; }

a {
  color: #b63b4d;
  text-decoration: none;
}

.accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 10px 42px;
  color: #0000;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 16px;
  color: #0000;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 12px;
}

.accordion li i.fa-chevron-right {
  right: 12px;
  left: auto;
  font-size: 12px;
}

.accordion li.open .link { color: #b63b4d; }

.accordion li.open i { color: #b63b4d; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}

.submenu li { border-bottom: 0px solid #4b4a5e; margin-left:10px; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}

.barang{
	float:left;
	margin:20px 46px 20px 0px;
}

.border-produk{
	width:190px;
	height:242px;	
	text-align:center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.9);
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.9);
}

#produk{
	margin:0 auto 0;	
	font-size:12px;
	width:130px;
	text-align:center;
}

#produk .title-produk{
	font-size:13px;
	height:36px;
	width:100%;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	
}
#harga{
	width:100%;
	height:40px;
	
}
#produk .price a{
	text-align:center;
	font-size:14px;
	height:36px;
	width:100%;
	font-weight:bold;
	color:#000;
	text-align:center;
	margin-top:50px;
}

.loginbtn{
	padding:5px;
	background:#06C;
	border:hidden;
	color:#FFF;
	width:80px;
}

#produk img{
	width:130px;
	margin-bottom:10px;
}

#judul1{
	font-size:22px;
	font-family:"Times New Roman";
	font-weight:bold;
	color:#8b2b32;
}
#bts-judul{
	background:#000;
	width:300px;
	height:1px;
	margin-bottom:15px;
	margin-top:5px;
}